################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Wenli.Data.Kafka/bin/Debug/netstandard2.0
/.vs/Wenli.Drive.Kafka
/Wenli.Data.Kafka/obj
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.Requests.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.Primitives.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.Ping.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.NetworkInformation.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.NameResolution.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.Http.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Linq.Queryable.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Linq.Parallel.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Linq.Expressions.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Linq.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.UnmanagedMemoryStream.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.Pipes.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.MemoryMappedFiles.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.IsolatedStorage.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.FileSystem.Watcher.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.FileSystem.Primitives.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.FileSystem.DriveInfo.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.FileSystem.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.Compression.ZipFile.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.IO.Compression.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Globalization.Extensions.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Globalization.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Globalization.Calendars.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Dynamic.Runtime.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Drawing.Primitives.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Diagnostics.Tracing.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Diagnostics.TraceSource.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Diagnostics.Tools.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Diagnostics.TextWriterTraceListener.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Diagnostics.StackTrace.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Diagnostics.Process.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Diagnostics.FileVersionInfo.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Diagnostics.Debug.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Diagnostics.Contracts.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Data.Common.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Console.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.ComponentModel.TypeConverter.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.ComponentModel.Primitives.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.ComponentModel.EventBasedAsync.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.ComponentModel.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Collections.Specialized.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Collections.NonGeneric.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Collections.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Collections.Concurrent.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.AppContext.dll
/Wenli.Drive.KafkaTest/bin/Debug/netstandard.dll
/Wenli.Drive.KafkaTest/bin/Debug/Microsoft.Win32.Primitives.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x86/zlib.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x86/msvcr120.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x86/msvcp120.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x86/libzstd.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x86/librdkafkacpp.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x86/librdkafka.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x64/zlib.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x64/msvcr120.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x64/msvcp120.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x64/libzstd.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x64/librdkafkacpp.dll
/Wenli.Drive.KafkaTest/bin/Debug/librdkafka/x64/librdkafka.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.CompilerServices.VisualC.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Resources.Writer.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Resources.ResourceManager.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Resources.Reader.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Reflection.Primitives.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Reflection.Extensions.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Reflection.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.ObjectModel.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.WebSockets.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.WebSockets.Client.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.WebHeaderCollection.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.Sockets.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Net.Security.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Security.SecureString.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Security.Principal.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Security.Cryptography.X509Certificates.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Security.Cryptography.Primitives.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Security.Cryptography.Encoding.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Security.Cryptography.Csp.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Security.Cryptography.Algorithms.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Security.Claims.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.Serialization.Xml.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.Serialization.Primitives.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.Serialization.Json.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.Serialization.Formatters.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.Numerics.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.InteropServices.RuntimeInformation.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.InteropServices.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.Handles.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.Extensions.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Runtime.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Xml.XPath.XDocument.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Xml.XPath.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Xml.XmlSerializer.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Xml.XmlDocument.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Xml.XDocument.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Xml.ReaderWriter.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.ValueTuple.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Threading.Timer.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Threading.ThreadPool.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Threading.Thread.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Threading.Tasks.Parallel.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Threading.Tasks.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Threading.Overlapped.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Threading.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Text.RegularExpressions.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Text.Encoding.Extensions.dll
/Wenli.Drive.KafkaTest/bin/Debug/System.Text.Encoding.dll
/Wenli.Drive.KafkaTest/bin/Debug/Wenli.Data.Kafka.pdb
/Wenli.Drive.KafkaTest/bin/Debug/Wenli.Data.Kafka.dll
/Wenli.Drive.Kafka/obj/Debug/build.force
